#controls {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.group {
    color: rgb(255, 255, 255);
    display: grid;
    gap: 20px;
    place-items: center;
}

svg {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    filter: drop-shadow(0 0 20px #ffffff);
}

.petal {
    transform-origin: center;
}
body {
    background-color: black;
}